@font-face {
    font-family: "Outbound";
    src: url("/fonts/Outbound-Regular.otf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    font-size: large;
}

@font-face {
    font-family: "OutboundSwashes";
    src: url("/fonts/Outbound-Swashes.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}